# Latex
*.aux
*.cls
*.dvi
*.idx
*.log
*.toc
*.lof

# kile
*.kilepr

# Archives
*gz
*zip

# Editors
.kateproject
.kateproject.d

# Backups
*~
*.bak
*.back
*.backup

# Other
win_num*
Blatt*.pdf
*.asv
Blatt05_Aufg16_ev.tex
Blatt08/zuAufgabe26.tex
Blatt08/zuAufgabe26,tex.tex
Blatt08/zuAufgabe26.pdf
Blatt08/Blatt08.tex
