# Latex
*.aux
*.cls
*.dvi
*.idx
*.log
*.toc
*.lof

# kile
*.kilepr

# Archives
*gz
*zip

# Editors
.kateproject
.kateproject.d

# Backups
*~
*.bak
*.back
*.backup

# Other
win_num*
Blatt01.pdf
Blatt01.pdf
Blatt02_Aufg3.tex
Blatt02_Aufg3.tex
Blatt01.pdf
Blatt01.pdf
